@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
header{
    background: #74C69D;
    min-height: 586px;
    width: 100%;
    padding: 2rem 8rem;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    color: #FFFFFF;
    font-family: 'Work Sans';
}
nav ul{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: flex-end;
}
li{
    width: 20%;   
}
li a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Work Sans';
}
.hamburger{
    display: none !important;
    color: #fff;
}
main{
    padding: 2rem 8rem;
}
.sectionOne{
    width: 100%;
    display: flex;
    margin-top: 40px;
    position: relative;
}
.img1{
    width: 100%;
    margin-inline: auto;
}
.headText{
    width: 50%;
    text-align: left;
    align-items: center;
    margin-top: 50px;
}
.headImg{
    width: 50%;
}
.headText h1{
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 115%;
    color: #FFFFFF;
    width: 70%;
    margin-top: .2em;
}
.headText p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.75);
    width: 70%;
    margin-top: .9em;
}
.headText h4{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 5px;
    color: #FFFFFF;
}
.headText button{
    border-radius: 5px;
    padding: 10px 40px;
    background-color: #FFFFFF;
    color: #000;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.headText button:hover{
    border: 1px solid #fff;
    background-color: #74C69D;
    color: #fff;
    transition: 1s;
}
.sectionTwo{
    text-align: center;
    width: 100%;
}
.sectionTwo div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}
.sectionTwo div img{
    width: 10%;
    height: 10%;
}
.sectionTwo span{
    color: #74C69D;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}
.sectionTwo h1{
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #000;
    margin-top: .2em;
}
.sectionTwo p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
    width: 35%;
    margin-inline: auto;
    margin-top: .3em;
}
.sectionTwo button{
    border-radius: 5px;
    padding: 10px 40px;
    background-color: #000;
    color: #FFFFFF;
    border: none;
    margin-top: 4em;
    cursor: pointer;
}
.sectionTwo button:hover{
    background-color: #74C69D;
    color: #fff;
    transition: 1s;
}
.sectionThree{
    width: 100%;
    display: flex;
    margin-top: 80px;
    position: relative;
}
.img2{
    width: 80%;
    margin-inline: auto;
}
.textSide{
    width: 50%;
    text-align: left;
    align-items: center;
    margin-top: 80px;
}
.textSide h1{
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 115%;
    color: #000;
    width: 100%;
    margin-top: .2em;
}
.textSide p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
    width: 100%;
    margin-top: .9em;
}
.textSide button{
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.textSide button:hover{
    background-color: #74C69D;
    color: #fff;
    transition: 1s;
}
.sectionFour{
    width: 100%;
    display: flex;
    margin-top: 80px;
    position: relative;
    align-items: center;
}
.img3{
    width: 100%;
    margin-inline: auto;
    text-align: center;
}
.sectionFourHeader{
    width: 50%;
}
.sectionFour h1{
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 115%;
    color: #000;
    width: 80%;
    margin-top: .2em;
}
.sectionFour p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
    width: 70%;
    margin-top: .9em;
}
.sectionFive{
    width: 100%;
    text-align: center;
    margin-top: 7em;
}
.teamProfile{
    display: flex;
    margin-top: 2.9em;
    gap: 40px;
}
.profileCard{
    border-radius: 5px;
    box-shadow: 2px 3px 5px grey;
    padding: 1em;
    width: 25%;
    min-height: 320px;
    cursor: pointer;
}
.profileImg{
    width: 70%;
}
.profileCard h3{
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: .8em;
    line-height: 125%;
    color: #212529;
    text-align: left;
    margin-left: 1.7em;
}
.profileCard p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 125%;
    color: #212529;
    margin-top: 1.9em;
    text-align: left;
    margin-left: 2.5em;
}
.sectionFive span{
    color: #74C69D;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}
.sectionFive button{
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}
.sectionFive button:hover{
    background-color: #74C69D;
    color: #fff;
    transition: 1s;
}
.lastText{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
    width: 35%;
    margin-inline: auto;
    margin-top: .3em;
}
footer{
    background-color: #74C69D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}
.socialHandles{
    width: 60%;
    justify-content: space-between;
}
.fa-brands{
    margin-left: 1em;
}
footer p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
}
@media only screen and (max-width: 950px){
    nav ul{
        width: 70%;
    }
    li{
        width: 30%;
    }
    .img1{
        width: 100%;
        margin-top: 3em;
    }
    .headText h1{
        font-size: 2rem;
        width: 90%;
    }
    .headText p{
        font-size: .8rem;
        width: 90%;
    }
    header{
        min-height: 450px;
    }
    .headText button{
        padding: 8px 20px;
    }
    .headText h4, .sectionTwo span{
        font-size: .8rem;
    }
    .sectionTwo p{
        font-size: 17px;
    }
    .sectionTwo button{
        padding: 8px 20px;
    }
    .textSide h1{
        font-size: 1.6rem;
        width: 100%;
    }
    .img2, .img3{
        /* width: 80%; */
        margin-top: 4em;
    }
    .textSide{
        width: 80%;
    }
    .sectionFive span{
        font-size: .8rem;
    }
    .sectionFive p{
        font-size: 17px;
    }
    .profileCard{
        padding: .7em;
        width: 30%;
        min-height: 110px;
        /* text-align: left; */
    }
    main{
        padding: 2rem 4rem;
    }
    footer{
        padding: 2rem 4rem;
    }
    footer p{
        width: 50%;
        font-size: 18px;
        text-align: right;
    }
    .profileImg{
        width: 50%;
    }
    .profileCard h3{
        font-size: 18px;
    }
    .profileCard p{
        font-size: 12px;
    }
}
@media only screen and (max-width: 400px){
    header{
        width: 100%;
        padding: 2rem;
    }nav ul{
        display: none;
    }.hamburger{
        display: block !important;
    }.sectionOne{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }.headText{
        width: 100%;
    }.headText h1{
        width: 100%;
    }.headImg{
        width: 100%;
    }.headText p{
        width: 100%;
    }main{
        padding: 2rem;
    }.sectionTwo h1{
        font-size: 1.2rem;
    }.sectionTwo p{
        font-size: .9rem;
        width: 80%;
    }.sectionTwo div{
        display: flex;
        flex-direction: column;
    }.sectionTwo div img{
        width: 70%;
        margin-top: 1.3em;
        margin-inline: auto;
    }.sectionThree{
        display: flex;
        flex-direction: column;
    }.img1,.img2{
        width: 100%;
    }.sectionFour{
        display: flex;
        flex-direction: column-reverse;
    }.textSide{
        width: 100%;
    }.textSide p{ 
        width: 100%;
    }.teamProfile{
        display: flex;
        flex-direction: column;
        width: 100%;
    }.sectionFive h1{
        font-size: 1.2rem;
    }.sectionFive p{
        font-size: .9rem;
        width: 70%;
    }.profileCard{
        width: 100%;
        max-height: 350px;
    }footer{
        display: flex;
        flex-direction: column;
        padding: 1.2rem;
    }footer p{
        text-align: center;
        width: 100%;
        margin-top: .6em;
    }.socialHandles{
        width: 100%;
        margin-inline: auto;
    }
}